<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 pt-5 borderTop" style="background-color: #f7f7f7;">
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3 dark-grey-text">
        <div class="col-md-4 mb-4">
          <h6 class="text-uppercase font-weight-bold">Empresa</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Proveedor de sistemas de protección contra incendios en Barranquilla</p>
        </div>
        <div class="col-md-4 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a class="darkColor" href="#!">Pagina principal</a></p>
          <p><a class="darkColor" href="#!">Afiliate</a></p>
          <p><a class="darkColor" href="#!">Contactanos</a></p>
          <p><a class="darkColor" href="#!">Ayuda</a></p>
        </div>
        <div class="col-md-4 mx-auto mb-md-0 mb-4">  
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><i class="fas fa-home mr-3"></i> Barranquilla, Col. Torres del Atlantico, 710.</p>
          <p><i class="fas fa-envelope mr-3"></i> fireno@fireno.com</p>
          <p><i class="fas fa-phone mr-3"></i> +57 316 018 3477</p>
          <p><i class="fas fa-print mr-3"></i> +57 316 018 3477</p>
        </div>  
      </div>  
    </div>

    <div class="row d-flex align-items-center py-3 w-100 mx-0" style="background-color: #bdbfc1;">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left m-0">© 2022 Copyright: <a class="darkColor" href="https://www.fireno.com/">www.fireno.com</a></p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline m-0">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://es-la.facebook.com/Fireno-SAC-282011821843992/" target="_blank">
                <i class="fab fa-facebook-f fa-lg footer-icon darkColor"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter fa-lg footer-icon darkColor"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g fa-lg footer-icon darkColor"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://pe.linkedin.com/company/fireno-sac-" target="_blank">
                <i class="fab fa-linkedin-in fa-lg footer-icon darkColor"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <% if(typeof info!='undefined') { %>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% if (info == 0) { %>
                <p>No existe una cuenta asociada al correo electronico ingresado</p>
              <% } else if (info == 1) { %>
                <p>Ya existe una cuenta con el correo electronico ingresado.</p>
              <% } else if (info == 2) { %>
                <p>Ingrese un nombre valido</p>
              <% } else if (info == 3) { %>
                <p>Ingrese un apellido valido</p>
              <% } else if (info == 4) { %>
                <p>Ingrese un nombre de empresa valido</p>  
              <% } else if (info == 5) { %>
                <p>Ingrese un correo electronico valido</p>
              <% } else if (info == 6) { %>
                <p>Ingrese una contrasena valida</p>
              <% } else if (info == 7) { %>
                <p>Las contrasenas deben coincidir</p>
              <% } else if (info == 8) { %>
                <p>Felicitaciones! Su cuenta ha sido creada exitosamente y esta a la espera de ser confirmada por un administrador de Fireno S.A.S</p>
              <% } else if (info == 9) { %>
                <p>Lo sentimos, su cuenta aun no ha sido confirmada por uno de nuestros administradores.</p>
              <% } else if (info == 10) { %>
                <h3>Solicitud exitosa</h3>
                <p>Se ha enviado un enlace para cambiar la contrasena al email ingresado.</p>
              <% } else if (info == 11) { %>
                <p>Lo sentimos, la cuenta asociada al email ingresado aun no ha sido confirmada.</p>
              <% } else if (info == 12) { %>
                <p>Lo sentimos, no existe una cuenta asociada al email ingresado.</p>
              <% } else if (info == 13) { %>
                <p>La contrasena ha sido modificada exitosamente.</p>
              <% } else if (info == 14) { %>
                <p>Usuario y/o contrasena incorrectos.</p>
              <% } %>  

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
              <% if (info == 8) {%>
                <a href="/" class="btn btn-success">Ir a Inicio</a>  
              <% } %>  
            </div>
          </div>
        </div>
      </div>
      <script>
        const myModal = new bootstrap.Modal(document.getElementById("exampleModal"), {});
        document.onreadystatechange = function () {
          myModal.show();
      };
      </script>
    <% } %> 
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
  <script src="/scripts/activePage.js"></script>
  <script src="/scripts/header.js"></script>
  <script src="/scripts/validateForms.js"></script>
  <script src="/scripts/animations.js"></script>
</body>
</html>