<%- include('../partials/header.ejs'); %> 
<div class="d-flex col-12 mx-0 h-100 vehicleTool mt-0">
  <div class="ms-auto px-0" id="mapContainer">
    <div id="map" class="h-100 w-100" style="width: auto;"></div>
  </div>
  <div class="d-flex flex-column align-items-center px-0 py-4" id="infoContainer">
    <div class="my-2 d-flex d-lg-none mx-auto align-items-center">
      <input id="searchInput" name="searchInput" type="search" class="ps-2 rounded border-0 col-10 py-1 mx-2" placeholder="Ej: 123" aria-label="Search" aria-describedby="search-addon" onkeyup="search(this)"/>
      <p id="searchInput" class="mt-3" style="cursor: pointer;"><img src="/icons/search.svg" alt="search"/></p>
    </div>
    <div class="vehicleContainer align-items-center mx-auto p-0 px-2 p-lg-3" id="vehicleContainer">
      <div class="d-flex flex-column mb-1 viewAllContainer">
        <h1 class="fs-4 text-center mt-5">Lista de vehiculos</h1>
        <p class="fs-6 text-center d-block d-lg-none mt-5">Visualizar todos los marcadores:</p>
        <div class="container my-2 d-none d-lg-block">
          <input id="searchInput" name="searchInput" type="search" class="ps-2 rounded border-0 col-10 d-inline-block py-1 mx-2" placeholder="Ej: 123" aria-label="Search" aria-describedby="search-addon" onkeyup="search(this)"/>
          <p id="searchInput" class="d-inline-block" style="cursor: pointer;"><img src="/icons/search.svg" alt="search"/></p>
        </div>
        <div class="d-flex flex-wrap justify-between">
          <a title="Visualizar todos los marcadores" class="mx-auto ms-md-1 btn vehicleButton mt-2 rounded-circle p-1" id="viewAll" style="cursor: pointer"><img src="/icons/eye.svg" id="eye" alt="view"></a>
          <a class="text-center col-12 col-md-2 mt-3 mt-md-0 text-decoration-none text-secondary" href="/tools#alarms" title="Informacion de alertas"><img class="navIcon mt-0 mt-md-3" src="/icons/infoHeader.svg" alt="Logo informacion"><p class="d-inline d-md-none">Alertas</p></a>
          <p class="text-secondary mx-auto my-5 d-block d-md-none" >Deslice para ver los equipos<img class="navIcon ms-2" src="/icons/arrowRight.svg" alt="Logo informacion"></p>
        </div>
      </div>
      <div class="col-12 d-none mt-3" id="noResults">
        <p class="text-center text-muted">No se han encontrado resultados para su busqueda.</p>
      </div>
    </div> 
  </div>
</div>
<script>
  const map = L.map('map').setView([4, -74], 5);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoicHJhY3RpY2FudGVmaXJlbm8iLCJhIjoiY2wwaWx1bG56MDN2YzNrcjVxcm5pZG5hMSJ9.45Wt5JTHi42NZgVOIU5S_g'
}).addTo(map);
</script>
<script src="/scripts/activePage.js"></script>
<script src="/scripts/realtime.js"></script>
<script src="/scripts/filter.js"></script>
<script src="/scripts/search.js"></script>

</body>
</html>