<%- include('../partials/header.ejs'); %> 
<style>
  body {
    margin-top: 64px !important;
    height: calc(100vh - 64px);
  }
</style>
<div class="row col-12 mx-0 h-100">
    <div class="d-flex align-items-center col-md-4 px-0" id="infoContainer">
      <div class="curveContainer mx-auto col-11 my-4 py-4" style="height: 80vh;">
        <div class="d-flex">
          <a type="button" class="btn btn-primary mx-auto" >Visualizar todos los marcadores</a>          
        </div>
        <div class="d-flex">
            <input id="searchInput" type="search" class="rounded ms-auto border-0 px-3" placeholder="Ej: 123456789" aria-label="Search" aria-describedby="search-addon" onkeyup="search()" />
            <button type="button" class="btn btn-outline-light me-4" onclick="search()" style="background-color: #48577B;">Buscar</button>
        </div>
      </div> 
    </div>
    <div class="col-md-8 bg-danger px-0" id="mapContainer">
        <div id="map" class="h-100" style="width: 700px;"></div>
    </div>

</div>
<script>
  var map = L.map('map').setView([4, -74], 5);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicHJhY3RpY2FudGVmaXJlbm8iLCJhIjoiY2wwaWx1bG56MDN2YzNrcjVxcm5pZG5hMSJ9.45Wt5JTHi42NZgVOIU5S_g', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
}).addTo(map);
</script>
<script src="/scripts/activePage.js"></script>
</body>
</html>