<%- include('../partials/header.ejs'); %> 

<div class="row col-12 p-0 m-0 mt-2 mt-md-5">
    <h3 id="alarms" class="toolTitle mx-auto text-center my-4 d-block col-8 col-md-4">Visualizacion de Alarmas</h3>
    <div class="col-11 col-md-10 d-flex border-bottom my-md-4 mx-auto greyLightBg rounded flex-wrap py-4">
        <div class="col-md-8 align-items-center">
            <div class="my-2 my-md-5">
                <p class="text-center col-10 mx-auto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste unde, nobis ex, ipsam eligendi mollitia soluta animi sequi perferendis ducimus beatae totam corrupti minima earum placeat maxime. Eos doloribus debitis nemo rem, id corrupti sed rerum, repellendus at inventore iusto dolores officia harum, nihil nesciunt placeat iste quasi delectus quam.
                </p>    
            </div>
        </div>
        <div class="d-flex col-12 col-md-4 align-items-center mx-auto">
            <div class="mx-auto ms-md-auto rounded my-3 my-md-0 p-3" style="width: 230px;">
                <img class="col-12" src="./images/alert2.png" alt="alert">
            </div>
        </div>
        <h3 class="text-center mx-auto mb-4">Tipos de alarmas</h3>
        <div class="col-11 bgGrayLight d-flex mx-auto flex-wrap">
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #1</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/alarm_10.png" alt="Linea deteccion 1">
                </div>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>
            <div class="vr h-50 my-auto d-none d-md-block"></div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #2</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/alarm_7.png" alt="Linea deteccion 1">
                </div>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
    
            </div>
            <div class="vr h-50 my-auto d-none d-md-block"></div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #3</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/alarm_8.png" alt="Linea deteccion 1">
                </div>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>
            <div class="vr h-50 my-auto d-none d-md-block"></div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #4</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/batery.png" alt="Linea deteccion 1">
                </div>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
    
            </div>
            <div class="vr h-50 my-auto d-none d-md-block"></div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #5</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/line1.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>     
        </div>
        <div class="col-11 bgGrayLight d-flex flex-wrap mx-auto my-4">
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #6</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/alarm_11.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #7</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/problem2.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #8</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/line2.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>  
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #9</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/alarm_9.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>
            <div class="mx-auto col-10 col-md-2 rounded my-4 my-md-3 border-bottom border-3 toolsDiv">
                <h4 class="text-center mt-3 fs-5">Alarma #10</h4>
                <div class="d-flex">
                    <img class="imgAlerts" src="./icons/problemGeneral.png" alt="Linea deteccion 1">
                </div>                
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, dolore.</p>
            </div>      
        </div>
    </div>
    <h3 id="realtime" class="mx-auto text-center my-4 border-bottom border-3 border-secondary col-8 col-md-4">Ubicacion en tiempo real</h3>
    <div class="col-11 col-md-9 d-flex border-bottom my-md-4 mx-auto greyLightBg rounded flex-wrap py-4">
        <div class="col-md-8 align-items-center">
            <div class="my-2 my-md-5">
                <p class="text-center col-10 mx-auto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste unde, nobis ex, ipsam eligendi mollitia soluta animi sequi perferendis ducimus beatae totam corrupti minima earum placeat maxime. Eos doloribus debitis nemo rem, id corrupti sed rerum, repellendus at inventore iusto dolores officia harum, nihil nesciunt placeat iste quasi delectus quam.
                </p>    
            </div>
        </div>
        <div class="d-flex col-md-4 align-items-center mx-auto my-3 py-4">
            <div class="ms-auto rounded my-3 my-md-0" style="width: 300px;">
                <img class="col-12" src="./images/map2.png" alt="Tiempo real">
            </div>
        </div>
        <h3 class="text-center col-12 text-center mb-4">Funcionamiento</h3>
        <div class="col-11 d-flex mx-auto flex-wrap">
            <div class="bgGrayLight mx-auto col-md-5 rounded my-4 my-md-3">
                <h4 class="text-center my-3 fs-5">Adquisicion de datos</h4>
                <div class="mx-auto rounded my-3 my-md-0" style="width: 150px; height: 150px;">
                    <img class="col-12" src="./images/nordicUc.png" alt="alert">
                </div>
                <p class="text-center col-10 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, dolorem. Consequuntur nihil totam, iste magnam voluptatem nostrum temporibus fugiat qui quia distinctio assumenda placeat tenetur debitis asperiores cumque porro voluptatum.</p>
            </div>       
            <div class="bgGrayLight mx-auto col-md-5 rounded my-4 my-md-3">
                <h4 class="text-center my-3 fs-5">Visualizacion de la informacion</h4>
                <div class="mx-auto my-3 my-md-0" style="width: 150px; height: 150px;">
                    <img class="col-12 rounded" src="./images/map3.png" alt="alert">
                </div>
                <p class="text-center col-10 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, dolorem. Consequuntur nihil totam, iste magnam voluptatem nostrum temporibus fugiat qui quia distinctio assumenda placeat tenetur debitis asperiores cumque porro voluptatum.</p>
            </div>       
        </div>
    </div>

    <!-- Consulta de historicos -->

    <h3 id="record" class="mx-auto text-center my-4 border-bottom border-3 border-secondary col-8 col-md-4">Consulta de historicos</h3>
    <div class="col-11 col-md-9 d-flex border-bottom my-md-4 mx-auto greyLightBg rounded flex-wrap py-4">
        <div class="col-md-8 align-items-center">
            <div class="my-2 my-md-5">
                <p class="text-center col-10 mx-auto">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste unde, nobis ex, ipsam eligendi mollitia soluta animi sequi perferendis ducimus beatae totam corrupti minima earum placeat maxime. Eos doloribus debitis nemo rem, id corrupti sed rerum, repellendus at inventore iusto dolores officia harum, nihil nesciunt placeat iste quasi delectus quam.
                </p>    
            </div>
        </div>
        <div class="d-flex col-md-4 align-items-center mx-auto my-3 py-4">
            <div class="ms-auto rounded my-3 my-md-0 mx-auto d-flex" style="width: 230px;">
                <img class="col-10 mx-auto" src="./images/database.png" alt="Tiempo real">
            </div>
        </div>
        <h3 class="text-center col-12 text-center mb-4">Funcionamiento</h3>
        <div class="col-11 d-flex mx-auto flex-wrap">
            <div class="bgGrayLight mx-auto col-md-5 rounded my-4 my-md-3">
                <h4 class="text-center my-3 fs-5">Almacenamiento de datos</h4>
                <div class="mx-auto rounded my-3 my-md-0" style="width: 150px; height: 150px;">
                    <img class="col-12" src="./images/data.png" alt="alert">
                </div>
                <p class="text-center col-10 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, dolorem. Consequuntur nihil totam, iste magnam voluptatem nostrum temporibus fugiat qui quia distinctio assumenda placeat tenetur debitis asperiores cumque porro voluptatum.</p>
            </div>       
            <div class="bgGrayLight mx-auto col-md-5 rounded my-4 my-md-3">
                <h4 class="text-center my-3 fs-5">Visualizacion de la informacion</h4>
                <div class="mx-auto my-3 my-md-0" style="width: 150px; height: 150px;">
                    <img class="col-12 rounded" src="./images/map3.png" alt="alert">
                </div>
                <p class="text-center col-10 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, dolorem. Consequuntur nihil totam, iste magnam voluptatem nostrum temporibus fugiat qui quia distinctio assumenda placeat tenetur debitis asperiores cumque porro voluptatum.</p>
            </div>       
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs'); %> 