<%- include('../partials/header.ejs'); %> 

<h1 style="text-align:center;">Extintores</h1>
<h2>Cliente</h2>
<ul id="extinguishersContainer" class="mx-auto">

</ul>

<script src="/scripts/extinguishers.js"></script>
