<%- include('../partials/header.ejs'); %> 

<h1 style="text-align:center;">Mantenimientos</h1>
<h2>Administrador</h2>
<ul id="maintenancesContainer" class="mx-auto">

</ul>

<script src="/scripts/maintenances.js"></script>