<%- include('../partials/header.ejs'); %> 
<div class="row mx-auto d-flex flex-column py-4 formsContainer">
    <div class="col-11 col-md-4 mx-auto rounded p-4 border" style="background-color: white;">
        <h2>Reestablecer contrasena</h2>
        <p class="text-secondary">Ingrese el correo electronico asociado a su cuenta de Fireno Tools.</p>
        <form action="/auth/forgottenPassword" method="post" id="form">
            <div class="form-floating mb-3">
                <input type="email" 
                name="email" 
                id="email" 
                class="form-control" 
                pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                autocomplete="off"
                autocomplete="ÑÖcompletes"
                placeholder="ej: ejemplo@ejemplo.com"
                onkeyup=validateInput(email)
                required>
                <label for="email">Email</label>
            </div>
            <div class="d-flex">
                <input id="submit" type="submit" value="Confirmar Email" class="btn btn-success col-10 mx-auto rounded-pill">                    
            </div>    
        </form>          
    </div>
</div>    
<%- include('../partials/footer.ejs'); %> 