<%- include('../partials/header.ejs'); %> 
<div class="row mx-auto d-flex flex-column py-4 formsContainer">
    <div class="col-11 col-md-4 mx-auto rounded p-4 border" style="background-color: white;">
        <h2>Reestablecer contrasena</h2>
        <p class="grayLight">Ingrese la nueva contrasena:</p>
        <form action="/auth/resetPassword/<%= token %> " method="post" id="form">
            <div class="form-floating mb-3">
                <input 
                type="password" 
                name="newPassword" 
                id="newPassword" 
                class="form-control" 
                pattern="[A-Za-z0-9!?-]{8,12}"
                autocomplete="off"
                onkeyup=validateInput(newPassword)
                required>
                <label for="password">Nueva contrasena</label>
                <div class="invalid-feedback">La contrasena debe contener entre 8-20 caracteres.</div>
            </div>
            <div class="form-floating mb-3">
                <input 
                type="password" 
                name="newPassword2" 
                id="newPassword2" 
                class="form-control" 
                pattern="[A-Za-z0-9!?-]{8,12}"
                autocomplete="off"
                onkeyup=validateInput(newPassword2)
                required>
                <label for="password">Confirmar contrasena</label>
                <div class="invalid-feedback">La contrasena debe contener entre 8-20 caracteres.</div>
            </div>

            <div class="d-flex">
                <input id="submit" type="submit" value="Confirmar Email" class="btn btn-success col-10 mx-auto rounded-pill">                    
            </div>    
        </form>          
    </div>
</div>    
<%- include('../partials/footer.ejs'); %> 