<%- include('../partials/header.ejs'); %> 
    <div class="row col-12 mx-0 containerCertificates">
      <div class="d-flex align-items-center col-md-4 px-0">
        <div class="curveContainer mx-auto col-11 mb-3 py-1">
          <div class="d-flex">
            <a type="button" class="ms-auto me-4 mt-2 d-inline" data-bs-toggle="modal" data-bs-target="#logoutModal">
              <img src="/icons/logout.svg" alt="logout" style="width: 30px;">
            </a>          
          </div>

          <h1 class="my-2 text-center fs-3">Registrar certificado</h1>
          <form class="needs-validation col-11 mx-auto" enctype="multipart/form-data" action="/apiCertificate/createCertificate" method="post" id="form">
            <div class="form-floating mb-1">
              <input 
                type="text" 
                name="name" 
                id="name" 
                class="form-control" 
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                autocomplete="off"
                onkeyup=validateInput(name)
                placeholder="Ej: ejemplo ejemplo"
                required>
              <label for="email">Nombres</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" 
                name="lastname" 
                id="lastname" 
                class="form-control" 
                pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                autocomplete="off"
                autocomplete="ÑÖcompletes"
                onkeyup=validateInput(name)
                placeholder="Ej: ejemplo@email.com"
                required>
              <label for="lastname">Apellidos</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" 
                name="cc" 
                id="cc" 
                class="form-control" 
                pattern="^\d+$" 
                autocomplete="off"
                onkeyup=validateInput(name)
                placeholder="Ej: 12345678"
                required>
              <label for="email">Cedula de Ciudadania</label>
            </div>
            <label for="created_at">Creado el dia: </label>
            <div class="form-floating mb-1 form-control position-relative">
              <input class="col-12 mx-0 border-0 p-2" type="date"  id="created_at" name="created_at">
            </div>
            <label for="valid_until" >Valido hasta el dia: </label>
            <div class="form-floating mb-1 form-control position-relative">
              <input class="col-12 mx-0 border-0 p-2" type="date"  id="valid_until" name="valid_until">
            </div>
            <div class="mb-1">
              <select class="form-select py-2 clientOptions" id="client" required name="client">
                <option selected disabled value="">Escoger cliente...</option>
              </select>
            </div>
            <div class="form-floating mt-3">
              <input type="file"
              name="certificate" 
              id="certificate"
              aria-label="file example" 
              accept="application/pdf"
              required>
              <div class="invalid-feedback">Seleccione un archivo valido</div>
            </div>
            
            <div class="d-flex">
                <input id="submit" type="submit" value="Registrar" class="btn text-light col-10 mx-auto my-4 p-2">                    
            </div>    
          </form>
        </div>  
      </div>

      <div class=" d-flex flex-column col-md-8 px-0">
        <div class="infoCertificateContainer curveContainer d-flex flex-column col-11 mx-auto mb-3" id="infoCertificateContainer">
          <h2 class="text-center my-4">Listado de Certificados</h2>
          <div class="input-group my-2 w-25 me-2 ms-auto">
            <input type="text" id="searchInput" class="form-control col-10" placeholder="Cedula" aria-label="Cedula" aria-describedby="basic-addon2" onkeyup="search(this)">
            <span class="input-group-text" style="cursor: pointer;max-height: 35.27px;" id="basic-addon2"><img src="/icons/search.svg" alt="search"/></span>
          </div>  
          <div class="d-flex">
            <p class="ms-4 me-2 pt-2 text-secondary">Filtrar por cliente:</p>
            <div class="col-3">
              <select class="form-select clientOptions" id="filterInput" required onchange="filter(this.value)">
                <option selected value="">Todos los clientes</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Modificar certificado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation col-11 mx-auto" action="/apiCertificate/updateCertificate" method="post" id="form2">
                <div class="form-floating">
                  <input type="hidden" id="updateId" name="updateId">                  
                </div>  
                <div class="form-floating mb-1">
                    <input 
                    type="text" 
                    name="newName" 
                    id="newName" 
                    class="form-control" 
                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                    autocomplete="off"
                    onkeyup=validateInput(newName)
                    placeholder="Ej: ejemplo ejemplo"
                    >
                    <label for="email">Nombres</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="text" 
                    name="newLastname" 
                    id="newLastname" 
                    class="form-control" 
                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                    autocomplete="off"
                    autocomplete="ÑÖcompletes"
                    onkeyup=validateInput(newLastname)
                    placeholder="Ej: ejemplo ejemplo"
                    >
                    <label for="lastname">Apellidos</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="text" 
                    name="newCc" 
                    id="newCc" 
                    class="form-control" 
                    pattern="^\d+$" 
                    autocomplete="off"
                    onkeyup=validateInput(newCc)
                    placeholder="Ej: 12345678"
                    >
                    <label for="email">Cedula de Ciudadania</label>
                </div>
                <label for="created_at">Creado el dia: </label>
                <div class="form-floating mb-1 form-control position-relative p-0">
                    <input class="col-12 mx-0 border-0 p-2" type="date"  id="newCreated_at" name="newCreated_at">
                </div>
                <label for="valid_until" >Valido hasta el dia: </label>
                <div class="form-floating mb-1 form-control position-relative p-0">
                    <input class="col-12 mx-0 border-0 p-2" type="date"  id="newValid_until" name="newValid_until">
                </div>
                <div class="mb-1">
                    <select class="form-select p-2 clientOptions" id="newClient" name="newClient">
                      <option selected disabled value="">Escoger cliente...</option>
                    </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <input id="updateButton" type="submit" value="Actualizar" class="btn btn-primary">                
                </div> 
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Eliminar certificado</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea eliminar el certificado?</p>
            <p>Este certificado sera borrado permanentemente</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a type="button" id="deleteButton" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Cerrar Sesion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea cerrar la sesion?</p>
            <p>Se borraran los cambios que no fueron guardados</p>
          </div>
          <div class="modal-footer">
            <a type="button" href="/auth/logout" class="btn btn-secondary">Cerrar sesion</a>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/filterOptions.js"></script>
    <script src="/certificateScripts/spanishDates.js"></script>
    <script src="/certificateScripts/datepicker.js"></script>
    <script src="/certificateScripts/showPDF.js"></script>
    <script src="/certificateScripts/showCertificates.js"></script>
    <script src="/certificateScripts/filter.js"></script>
    <script src="/certificateScripts/search.js"></script>


<%- include('../partials/footer.ejs'); %> 