<%- include('../partials/header.ejs'); %> 
    <a href="/">Volver a pagina de inicio</a>
    <a href="/tools/machines">Volver a lista de maquinas</a>
    <h1>Registrar nueva maquina</h1>
    <form action="/apiAdmin/createMachine" method="post">
        <label for="name">Numero:</label>
        <input type="text" name="number" id="number">
        <br>
        <label for="lastname">Referencia:</label>
        <input type="text" name="reference" id="reference">
        <br>
        <label for="company">Marca:</label>
        <input type="text" name="trademark" id="trademark">
        <br>
        <label for="clients">Cliente:</label>
        <select name="clients" id="clients">
            <option value="select">Seleccione el usuario</option>
        </select>
        <br>
        <input type="submit" value="Crear maquina">
    </form>
    <script src="/scripts/createMachine.js"></script>
</body>
</html>