<%- include('../partials/header.ejs'); %> 
    <style>
        .machineContainer{
            margin: 5px;
            width: 500px;
            border: 1px solid #000;
        }
    </style>
    <% if (modal == 1) { %> 
        <div style="height: 30px; background-color: rgb(133, 255, 133); color: whitesmoke;">Maquina eliminada exitosamente.</div>
    <% } %>
    <a href="/">Volver a pagina de inicio</a>
    <a href="/tools/createMachine">Crear nueva maquina</a>
    <h1>Bienvenido <%= nombre %></h1>
    <div id="machinesColumn">
        
    </div>
    <script src="/scripts/machines.js"></script>
</body>
</html>