<%- include('../partials/header.ejs'); %> 
    <% if (modal == 1) { %> 
        <div style="height: 30px; background-color: rgb(133, 255, 133); color: whitesmoke;">Registro modificado exitosamente.</div>
    <% } %> 
    <% if (modal == 2) { %> 
        <div style="height: 30px; background-color: rgb(253, 155, 155); color: whitesmoke;">Ha ocurrido un error al realizar la modificacion.</div>
    <% } %> 
    <h1>Modificar usuario</h1>
    <div style="border: 1px solid #000; padding: 10px; margin: 8px;width: 300px;">
        <h2>Informacion Actual</h2>
        <p id="actualName"></p>
        <p id="actualLastname"></p>
        <p id="actualCompany"></p>
        <p id="actualRol"></p>
    </div>
    <form action="/apiAdmin/updateUser" method="post">
        <label for="name" >Nombre:</label>
        <br>
        <input type="text" name="name" id="name">
        <br>
        <label for="lastname">Apellido:</label>
        <br>
        <input type="text" name="lastname" id="lastname">
        <br>
        <label for="company">Empresa:</label>
        <br>
        <input type="text" name="company" id="company">
        <br>
        <label for="name">Tipo de usuario:</label>
        <br>
        <select name="rol" id="rol">
            <option value="0">Seleccionar tipo de usuario</option>
            <option value="3">Administrador</option>
            <option value="1">Cliente</option>
            <option value="2">Miembro de Fireno S.A.S</option>
        </select>
        <br>
        <input type="hidden" name="id" id="id" value="<%= id %> ">
        <br>
        <input type="submit">
    </form>
    <a href="/apiAdmin/deleteUser?id=<%= id %> ">Eliminar Usuario</a>
    <script src="/scripts/infoUser.js"></script>
</body>
</html>