<%- include('../partials/header.ejs'); %> 
    <% if (modal == 1) { %> 
        <div style="height: 30px; background-color: rgb(133, 255, 133); color: whitesmoke;">Registro modificado exitosamente.</div>
    <% } %> 
    <% if (modal == 2) { %> 
        <div style="height: 30px; background-color: rgb(253, 155, 155); color: whitesmoke;">Ha ocurrido un error al realizar la modificacion.</div>
    <% } %> 
    <a href="/">Volver a pagina de inicio</a>
    <br>
    <br>
    <a href="/tools/machines">Ver listado de maquinas</a>
    <h1>Bienvenido Administrador</h1>
    <form action="/apiAdmin/updateMachine" method="post">
        <label for="number">Numero:</label>
        <br>
        <input type="text" name="number" id="number">
        <br>
        <label for="reference">Referencia:</label>
        <br>
        <input type="text" name="reference" id="reference">
        <br>
        <label for="trademark">Marca:</label>
        <br>
        <input type="text" name="trademark" id="trademark">
        <br>
        <input type="hidden" name="id" id="id" value="<%= id %> ">
        <br>
        <input type="submit">
    </form>
    <button id="deleteMachine">Eliminar Maquina</button>
    <script>
        const deleteMachine = document.getElementById('deleteMachine');
        deleteMachine.addEventListener('click', () => confirm('Esta seguro que desea eliminar esta maquina?') ? window.location.href='/apiAdmin/deleteMachine?id=<%= id %>' : console.log('cancelado'))
    </script>
</body>
</html>