<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font-Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>

    <!-- GoogleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap" rel="stylesheet">


    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Leaflet Javascript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <!-- Local Imports -->
    <link rel="stylesheet" href="/styles/certificates.css">
    <link rel="stylesheet" href="/styles/style.css">    
    <link rel="stylesheet" href="/styles/transitions.css">
    <link rel="shortcut icon" href="/images/logo.ico">
    <style>
        body {
            margin: 0 !important;
        }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bgGray d-lg-none">
        <div class="container-fluid navContainer bgGray">
          <img class="rounded ms-auto d-block d-lg-none" src="/icons/image.png" alt="Logo-Fireno" id="logo2">
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
              <a id="home" class="nav-link redHover px-3 mx-2 my-1" href="/"><img class="navIcon" src="/icons/homeHeader.svg" alt="">Inicio</a>
              <% if(typeof rol=='undefined') { %> 
                <a id="tools" class="nav-link redHover px-3 mx-2 my-1" href="/tools"><img class="navIcon" src="/icons/toolsHeader.svg" alt="">Herramientas</a>
                <a class="nav-link redHover px-3 mx-2 my-1" href="http://www.fireno.com" target="_blank"><img class="navIcon" src="/icons/infoHeader.svg" alt="">Nosotros</a>
                <a id="certificates" class="nav-link redHover px-3 mx-2 my-1" href="/certificates"><img class="navIcon" src="/icons/certificatesHeader.svg" alt="">Certificados</a>
                <a id="register" class="nav-link redHover px-3 mx-2 my-1" href="/auth/register"><img class="navIcon" src="/icons/registerHeader.svg" alt="">Registrarme</a>
                <a id="login" class="nav-link redHover px-3 mx-2 my-1" href="/auth/login"><img class="navIcon" src="/icons/loginHeader.svg" alt="">Iniciar Sesion</a>
              <% } else if (rol == '1' || rol == '2') { %>
                <a id="tools" class="nav-link redHover px-3 mx-2 my-1" href="/tools"><img class="navIcon" src="/icons/toolsHeader.svg" alt="">Herramientas</a>
                <a id="realTime" class="nav-link redHover px-3 mx-2 my-1" href="/tools/realTime"><img class="navIcon" src="/icons/realTimeHeader.svg" alt="">Tiempo Real</a>
                <a id="record" class="nav-link redHover px-3 mx-2 my-1" href="/tools/record"><img class="navIcon" src="/icons/recordHeader.svg" alt="">Historial</a>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle px-3 mx-2 my-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="navIcon" src="/icons/profileHeader.svg" alt="">
                    <%= name1 %> 
                  </a>
                  <ul class="dropdown-menu bgGray" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/tools/profile">Configuracion</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/auth/logout">Cerrar sesion</a></li>
                  </ul>
                </li>
              <% } else { %>
              <a id="users" class="nav-link redHover px-3 mx-2 my-1" href="/tools/users"><img class="navIcon" src="/icons/usersHeader.svg" alt="">Usuarios</a>
              <a id="machines" class="nav-link redHover px-3 mx-2 my-1" href="/tools/machines"><img class="navIcon" src="/icons/truck.svg" alt="">Maquinas</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-3 mx-2 my-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="navIcon" src="/icons/profileHeader.svg" alt="">
                  <%= name1 %> 
                </a>
                <ul class="dropdown-menu bgGray" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/tools/profile">Cuenta</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/auth/logout">Cerrar sesion</a></li>
                </ul>
              </li>
              <% } %> 
            </div>
          </div>
        </div>
      </nav>  
      <div class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light border d-none d-lg-block" style="width: 280px; height:100vh">
          <div class="row col-10 p-0 mx-auto d-none d-md-flex flex-column">
              <img class="mx-auto col-7 " src="/icons/image.png"  alt="Logo-Fireno">
          </div>
          <div class="d-flex col-12">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              
              </a>
          </div>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li style="height: 67px" class="nav-item active-link">
                  <a href="/tools/users" class="nav-link">
                      <img class="navIcon bi me-2 col-3" src="/icons/usersHeader.svg" alt="">
                      Usuarios
                  </a>
              </li>
              <li style="height: 67px">
                  <a href="/tools/machines" class="nav-link link-dark">
                      <img class="navIcon bi me-2 col-3" src="/icons/truck.svg" alt="">
                      Maquinas
                  </a>
              </li>
              <li style="height: 67px">
                  <a href="/tools/profile" class="nav-link link-dark">
                      <img class="navIcon bi me-2 col-3" src="/icons/settingsFill.svg" alt="">
                      Configuracion
                  </a>
              </li>
              <li style="height: 67px">
                <a class="nav-link link-dark" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <img class="navIcon bi me-2 col-3" src="/icons/logout.svg" alt="">
                    Cerrar sesion
                </a>
            </li>
              
          </ul>        
      </div>
      <div class="d-flex flex-column greyLightBg py-3 mx-auto mt-4 col-11 col-md-8 rounded-3" id="usersColumn">
        <h1 class="text-center fs-3">Lista de usuarios</h1>
        <div class="my-2 d-none d-lg-block col-3 me-2 ms-auto">
          <input id="searchInput" name="searchInput" type="search" class="rounded border-0 ps-3 col-10 d-inline-block py-1 me-2" placeholder="Ej: 123" aria-label="Search" aria-describedby="search-addon" onkeyup="search(this)"/>
          <p id="searchInput" class="d-inline-block m-0" style="cursor: pointer;"><img src="/icons/search.svg" alt="search"/></p>
        </div>
        <div id="usersContainer">

        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Eliminar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Esta seguro que desea eliminar permanentemente este usuario?</p> 
              <p>Una vez eliminado no podra ser recuperado.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="#" class="btn btn-danger" id="deleteButton">Eliminar</a>  
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Esta seguro que desea confirmar este usuario?</p> 
              <p>Recuerda verificar que los datos sean correctos.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="#" class="btn btn-success" id="confirmButton">Confirmar</a>  
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Cerrar Sesion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Esta seguro que desea cerrar la sesion?</p>
            <p>Se borraran los cambios que no fueron guardados</p>
          </div>
          <div class="modal-footer">
            <a type="button" href="/auth/logout" class="btn btn-secondary">Cerrar sesion</a>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Actualizar informacion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/apiAdmin/updateUser" id="form" method="post">
              <input type="hidden" value="" id="idUserForm" name="id">
              <div class="form-floating mb-3">
                  <input 
                  type="text" 
                  name="name"
                  id="names" 
                  class="form-control"
                  pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                  autocomplete="off"
                  onkeyup=validateInput(names)
                  >
                  <label for="floatingInput">Nombres</label>                    
              </div> 
              <div class="form-floating mb-3">
                  <input type="text" 
                  name="lastname" 
                  id="lastname" 
                  class="form-control" 
                  pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}"
                  autocomplete="off"
                  onkeyup=validateInput(lastname)
                  >
                  <label for="lastname">Apellidos</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="text" 
                  name="company" 
                  id="company" 
                  class="form-control" 
                  minlength="3"
                  maxlength="20"
                  autocomplete="off"
                  onkeyup=validateInput(company)
                  >
                  <label for="company">Empresa</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="email" 
                  name="email" 
                  id="email" 
                  class="form-control" 
                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                  autocomplete="off"
                  onkeyup=validateInput(email)
                  >
                  <label for="email">Email</label>
              </div>
              <div class="form-floating mb-4">
                  <select name="rol" id="rol" class="form-select" onkeyup=validateInput(rol) >
                      <option selected disabled value="">Seleccione el tipo de usuario</option>
                      <option value="3">Administrador</option>
                      <option value="1">Cliente</option>
                      <option value="2">Miembro de Fireno S.A.S</option>
                      <option value="4">Administrador de Certificados</option>
                  </select>
                  <label for="rol">Tipo de usuario</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" value="Actualizar" class="btn btn-primary"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/users.js"></script>
    <script src="/scripts/activePage.js"></script>
  </body>
</html>