<%- include('../partials/header.ejs'); %> 
    <h1>Esta es la pagina de inicio de Administrador</h1>
    <br>
    <a style="margin-bottom: 5px; " href='/auth/logout'>Cerrar sesion</a>
    <a style="padding: 8px;" href="/tools/users">Gestionar usuarios</a>
    <a style="padding: 8px;" href="/tools/machines">Gestionar maquinas</a>
    <a style="padding: 8px;" href="/tools/profile">Perfil</a>
</body>
</html>