<%- include('../partials/header.ejs'); %> 
    <h1>Esta es la pagina de inicio de Cliente</h1>
    <a style="margin-bottom: 5px; " href='/auth/logout'>Cerrar sesion</a>
    <a style="padding: 8px;" href="/tools/realTime">Tiempo Real</a>
    <a style="padding: 8px;" href="/tools/record">Historial</a>
    <a style="padding: 8px;" href="/tools/profile">Perfil</a>
<%- include('../partials/footer.ejs'); %> 
