<%- include('../partials/header.ejs'); %> 

<div class="contactContainer col-12 d-flex" style="margin-top:64px">
  <section class="col-10 col-md-8 contactCard py-3 mt-5" style="min-height:380px;">
    <div class="mx-auto ms-auto ms-md-5 my-auto col-8">  
      <h6 class="text-uppercase font-weight-bold">Contacto colombia</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
      <p><i class="fas fa-home mr-3"></i> Barranquilla, Col. Torres del Atlantico, 710.</p>
      <p><i class="fas fa-envelope mr-3"></i> fireno@fireno.co</p>
      <p><i class="fas fa-phone mr-3"></i> +57 316 018 3477</p>
      <p><i class="fas fa-print mr-3"></i> +57 316 018 3477</p>
    </div>  
    <div class="rounded-circle my-auto mx-auto d-flex" style="height: 200px; width: 200px; background-color:var(--grayLight)">
      <img src="./icons/marker.svg" alt="" class="w-50 mx-auto my-auto markerIcon">
    </div>
  </section>
</div>

<div class="contactContainer col-12 d-flex">
  <section class="col-10 col-md-8 contactCard py-3" style="min-height:380px;">
    <div class="mx-auto ms-auto ms-md-5 my-auto col-8">  
      <h6 class="text-uppercase font-weight-bold">Contacto Panama</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
      <p><i class="fas fa-home mr-3"></i> Barranquilla, Col. Torres del Atlantico, 710.</p>
      <p><i class="fas fa-envelope mr-3"></i> fireno@fireno.co</p>
      <p><i class="fas fa-phone mr-3"></i> +57 316 018 3477</p>
      <p><i class="fas fa-print mr-3"></i> +57 316 018 3477</p>
    </div>  
    <div class="rounded-circle my-auto mx-auto d-flex" style="height: 200px; width: 200px; background-color:var(--grayLight)">
      <img src="./icons/marker.svg" alt="" class="w-50 mx-auto my-auto markerIcon">
    </div>
  </section>
</div>

<div class="contactContainer col-12 d-flex">
  <section class="col-10 col-md-8 contactCard py-3" style="min-height:380px;">
    <div class="mx-auto ms-auto ms-md-5 my-auto col-8">  
      <h6 class="text-uppercase font-weight-bold">Contacto Peru</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 200px;">
      <p><i class="fas fa-home mr-3"></i> Barranquilla, Col. Torres del Atlantico, 710.</p>
      <p><i class="fas fa-envelope mr-3"></i> fireno@fireno.co</p>
      <p><i class="fas fa-phone mr-3"></i> +57 316 018 3477</p>
      <p><i class="fas fa-print mr-3"></i> +57 316 018 3477</p>
    </div>  
    <div class="rounded-circle my-auto mx-auto d-flex" style="height: 200px; width: 200px; background-color:var(--grayLight)">
      <img src="./icons/marker.svg" alt="" class="w-50 mx-auto my-auto markerIcon">
    </div>
  </section>
</div>

<%- include('../partials/footer.ejs'); %> 