<%- include('../partials/header.ejs'); %> 

    <div class="divHomeContainer mb-5 redBg">
        <div class="d-flex col-12">
            <div class="mx-auto mt-3" id="titleDiv">
                <h1 class="text-center text-light fs-3 m-0" id="title"><b>FIRENO TOOLS</b></h1>
            </div>
        </div>
        <p class="text-light fs-5 text-center mx-auto col-10 col-lg-6 pt-2 my-5 my-lg-0 transparent">Herramientas pensadas para facilitar el monitoreo de las diferentes alarmas instaladas en nuestros equipos.</p>
        <div class="homeDiv rounded col-11 col-lg-auto mx-auto my-3 transparent" id="firstDiv">
            <div class="homeCardImage rounded-circle col-11 mt-2 rounded mx-auto border d-flex align-items-center justify-content-center">
                <img class="col-8 pb-3" src="./images/alert.png" alt="map">
            </div>
            <div class="homeCheckDiv ms-auto rounded-circle me-3">
                <img class="col-12" src="./icons/tools.svg" alt="check">
            </div>
            <div>
                <p class="smallText pt-2 my-2 mb-md-0 px-2 text-secondary text-center"><b>Herramienta de software</b></p>
                <p class="midText my-2 mb-md-0 px-2 text-center"><b>Notificacion de alertas</b></p>
                <p class="smallText mb-0 py-2 px-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. A assumenda dolorum sint. </p>
            </div>
            <a class="col-12 btn mx-0 seeMore" href="/tools#alerts"><strong>Ver mas</strong></a>
        </div>
        
        <div class="homeDiv rounded col-11 mx-auto my-3 col-lg-2 transparent" id="thirdDiv">
            <div class="homeCardImage rounded-circle col-11 mt-2 rounded mx-auto border">
                <img class="h-100" src="./images/map.png" alt="map">
            </div>
            <div class="homeCheckDiv ms-auto rounded-circle me-3">
                <img class="col-12" src="./icons/tools.svg" alt="check">
            </div>
            <div>
                <p class="smallText pt-2 my-2 mb-md-0 px-2 text-secondary text-center"><b>Herramienta de software</b></p>
                <p class="midText my-2 mb-md-0 px-2 text-center"><b>Rastreo GPS en tiempo real</b></p>
                <p class="smallText mb-0 py-2 px-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. A assumenda dolorum sint. </p>
            </div>
            <a class="col-12 btn seeMore" href="/tools#realtime"><strong>Ver mas</strong></a>
        </div>
        <div class="homeDiv rounded col-11 mx-auto my-3 col-lg-2 transparent" id="secondDiv">
            <div class="homeCardImage rounded-circle col-11 mt-2 rounded mx-auto border d-flex align-items-center justify-content-center">
                <img class="col-9" src="./images/computer.png" alt="map">
            </div>
            <div class="homeCheckDiv ms-auto rounded-circle me-3">
                <img class="col-12" src="./icons/tools.svg" alt="check">
            </div>
            <div>
                <p class="smallText pt-2 my-2 mb-md-0 px-2 text-secondary text-center"><b>Herramienta de software</b></p>
                <p class="midText my-2 mb-md-0 px-2 text-center"><b>Consulta de historicos</b></p>
                <p class="smallText mb-0 py-2 px-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. A assumenda dolorum sint. </p>
            </div>
            <a class="col-12 btn seeMore" href="/tools#record"><strong>Ver mas</strong></a>
        </div>
    </div>
    <div class="borderTop infoContainerHome p-4">
        <h4 class="text-center col-12 mb-4"><b>Ventajas de utilizar nuestros servicios</b></h4>
        
        <div class="infoFlexContainer greyLightBg col-12 d-flex flex-wrap mb-5 desaturate transparent mx-auto">
            <div class="infoTextContainer col-11 col-lg-5 rounded-3 mx-auto">
                <h5 class="mx-auto text-center mt-2 mt-lg-5"><b>Asistencia profesional</b></h5>
                <p class="text-center my-2 my-lg-4 px-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi consequuntur nemo ullam voluptate beatae deleniti praesentium enim, ab minima suscipit expedita, mollitia recusandae error iusto impedit, voluptatum omnis ea temporibus.</p>
            </div>
            <div class="infoDiv col-12 col-lg-5 ms-lg-auto" id="meetingImage">
                <img class="col-12 h-100" src="./images/meeting.jpg" alt="meetingImage">
            </div>
            
        </div>
        
        <div class="infoFlexContainer greyLightBg col-12 d-flex flex-wrap mb-5 desaturate transparent mx-auto">
            <div class="infoDiv col-12 col-lg-5 me-lg-auto" id="softwareImage">
                <img class="col-12 h-100" src="./images/code2.jpg" alt="softwareImage">
            </div>
            <div class="infoTextContainer col-11 col-lg-5 rounded-3 mx-auto">
                <h5 class="mx-auto text-center mt-2 mt-lg-5"><b>Acceso a herramientas de software</b></h5>
                <p class="text-center my-2 my-lg-4 px-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi consequuntur nemo ullam voluptate beatae deleniti praesentium enim, ab minima suscipit expedita, mollitia recusandae error iusto impedit, voluptatum omnis ea temporibus.</p>
            </div>
            
        </div>

        <div class="infoFlexContainer greyLightBg col-12 d-flex flex-wrap mb-5 desaturate transparent mx-auto">
            <div class="infoTextContainer col-11 col-lg-5 rounded-3 mx-auto">
                <h5 class="mx-auto text-center mt-2 mt-lg-5"><b>Equipos de la mejor calidad</b></h5>
                <p class="text-center my-2 my-lg-4 px-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi consequuntur nemo ullam voluptate beatae deleniti praesentium enim, ab minima suscipit expedita, mollitia recusandae error iusto impedit, voluptatum omnis ea temporibus.</p>
            </div>
            <div class="infoDiv col-12 col-lg-5 ms-lg-auto" id="machinesImage">
                <img class="img-fluid col-12 h-100" src="./images/machines.jpg" alt="machinesImage">
            </div>
            
        </div>
        
    </div>
<%- include('../partials/footer.ejs'); %> 