<%- include('../partials/header.ejs'); %> 

<div class="row col-12 mx-0" style="height: 100vh;">
    <div class="d-flex align-items-center col-md-4 px-0">
      <div class="curveContainer mx-auto col-11 my-4 py-4" style="height: 100vh;">
        <div class="d-flex">
          <a type="button" class="btn btn-primary mx-auto" >Visualizar todos los marcadores</a>          
        </div>
        <div class="d-flex">
            <input id="searchInput" type="search" class="rounded ms-auto border-0 px-3" placeholder="Ej: 123456789" aria-label="Search" aria-describedby="search-addon" onkeyup="search()" />
            <button type="button" class="btn btn-outline-light me-4" onclick="search()" style="background-color: #48577B;">Buscar</button>
        </div>
      </div> 
    </div>
    <div class="col-md-8">
        <div id="map" class="d-block" style="width: 500px; height: 500px;"></div>

    </div>

</div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <script>
       const map = L.map('map').setView([10.976083642910236, -74.80313783393801], 12);
       L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoic3RlZmYxNiIsImEiOiJja3RjNzJmamsyM2NqMnBwazFleXJveXRmIn0.WX6x2YRLtRxdp4RealPs5w'
       }).addTo(map);

   </script>
   <!-- <script src="/scripts/realTime.js"></script> -->
</body>
</html>