.fullPage {
    margin-top: 0;
}

.curveContainer {
    border-radius: 40px;
    background-color: #ededee;
}
.infoCertificateContainer{
    padding: 10px 0;
    border-radius: 40px;
    background-color: #ededee;
    max-height: 86vh;
    overflow-y: auto;
}
.certificateContainer {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 20px;
    background: #e4e4e4;
}
.certificate{
    padding-left: 20px;
}
.labelCertificate{
    width: fit-content;
    margin-bottom: 2px;
}
.infoCertificate{
    width: fit-content;
    margin: 2px auto;
    padding: 3px 15px;
    border-radius: 8px;
    background-color: #cecece;
}
.chromeInput {
    background-color: #fff;
}
.chromeInput::-webkit-calendar-picker-indicator{
    background-image: url('../icons/calendar.svg');
}

.mozillaInput {
    background-color: #fff;
    background-image: url('../icons/calendar.svg');    
    background-repeat: no-repeat;
    background-position: 95%;
}
.updateLogoContainer {
    right: 0;
    width: 30px;
}
.updateLogoContainer:hover {
    cursor: pointer;
}
.updateLogo {
    width: 30px;
    height: 30px;
    z-index: 100;
}
.updateLogo:hover {
    filter: invert(33%) sepia(8%) saturate(2727%) hue-rotate(185deg) brightness(88%) contrast(80%);
    transform: scale(1.1);
    transition: .5s all;
}
#submit {
    background-color: #48577B;
}
.seeMore {
    background-color: #48577B;
    color: #fff;
}
.seeMore:hover {
    color: #fff;
}
@media (min-width: 768px) { 
    .infoContainer{
        height: 95vh;
        overflow-y: auto;
    }
    .fullPage {
        margin-top: 64px;
    }
    .certificateContainer {
        padding: 15px;
    }
}