:root{
    --graybg:#ECEFF1;
    --graymid: #d9dbdd;
    --grayLight: #666768;
    --mainColor: #CF1B1B;
    --darkGray:#212529;
}
body{
    font-family: 'ubuntu', serif;
    background-color: var(--graybg);
    margin-top: 74px !important;
}
.bgGray {
    background-color: var(--graybg)
}
.grayLight {
    color: var(--grayLight);
}
.redBg {
    background: rgb(207,27,27);
    background: -moz-radial-gradient(circle, rgba(207,27,27,1) 36%, rgba(185,26,26,1) 79%, rgba(158,21,21,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(207,27,27,1) 36%, rgba(185,26,26,1) 79%, rgba(158,21,21,1) 100%);
    background: radial-gradient(circle, rgba(207,27,27,1) 36%, rgba(185,26,26,1) 79%, rgba(158,21,21,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf1b1b",endColorstr="#9e1515",GradientType=1); 
}
.redColor {
    color: var(--mainColor)
}
.darkColor {
    color: var(--darkGray);
}
.darkColor:hover {
    color: var(--mainColor);
}
.redHover:hover {
    color: var(--mainColor);
}
.active-link {
    border-bottom: 2px solid var(--mainColor);
}
.borderTop {
    border-top: 5px solid var(--mainColor);
}
#header {
    transition: all 0.8s;
}
.logoContainer {
    height: 50px;
    position: fixed;
    background-color: transparent;
    display: none;
}
.logoContainer img {
    height: 45px;
}
.navbar {
    z-index: 100;
}
.nav-link:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: var(--graybg);
}
.divHomeContainer {
    padding-bottom: 5px;
}
.homeDiv{
    position: relative;
    height: 350px;
    background-color: var(--graybg);
    border: 1px solid rgb(189, 189, 189);
}
.homeCardImage {
    height: 120px;
    width: 120px;
    background-color: var(--graymid);
}
.homeCheckDiv {
    width: 30px;
    height: 30px;
    margin-top: -20px;
}
.homeCheck {
    filter: invert(8%) sepia(55%) saturate(211%) hue-rotate(169deg) brightness(93%) contrast(86%);
}

.infoContainer {
    margin-top: 30px;
}

@media (min-width: 992px) {
    body{
        margin-top: 120px !important;
    }
    .logoContainer {
        position: relative;
        background-color: var(--graybg);
        display: flex;
    }
    .divHomeContainer {
        position: relative;
        height: 410px;
    }
    .homeDiv{
        height: 300px;
        width: 250px;
        position: absolute;
        transition: 0.5s all;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    #firstDiv{
        top: 200px;
        left: 10vw;
    }
    #secondDiv {
        top: 200px;
        right: 10vw;
    }
    #thirdDiv {
        top: 180px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .infoContainer {
        margin-top: 120px;
        height: 500px;
    }
    
    .homeDiv:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.1);
        -webkit-transform:scale(1.1);
    }
    .smallText {
        font-size: 12px;
    }
    .midText {
        font-size: 18px;
    }
    .slide-top {
        -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(300px);
                  transform: translateY(300px);
                  opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
                  opacity: 100;
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(300px);
                  transform: translateY(300px);
                  opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
                  opacity: 100;
        }
      }
      
}


